
   .todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #edf2f7;
    border: 1px solid #cbd5e0;
    border-radius: 0.375rem;
    padding: 1rem 1rem;
    margin-bottom: 0.5rem;
    width:100%;
    box-sizing: border-box;
  }
  
  .remove-button {
    background-color: #e53e3e;
    border: none;
    border-radius:5px;
    color: white;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  .remove-button:hover {
    background-color: #c53030;
  }

  .update-button{
    margin-right: 10px;
    border:none;
    background-color: #2b6cb0;
    color: white;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    border-radius:5px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .button-link:hover {
    background-color: #2b6cb0;
  }
  
  
  .todosList{
    width: 100%;
  }
  .todos-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .todos-header{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700px;
    font-size: 24px;
    margin: 1.5rem 6rem;

  }

.todosList li{
  padding: 10px;
  

}
